.board-page-container {
  height: 100vh;
  .board-details-container {
    flex: 1;
    overflow: hidden;
    & > ::-webkit-scrollbar {
      height: 0.75rem;
      border-radius: 50rem;
    }
    & > ::-webkit-scrollbar-track {
      background: #00000026;
      border-radius: 3px;
      margin: 25px;
    }
    & > ::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background: #e2e3e480;
    }
  }
}

.boards-container {
  flex-wrap: wrap;
  gap: 1.8rem
}

.mini-menu-portal {
  z-index: 100;
  width: fit-content;
  height: fit-content;
  
  button {
    background: #0009;
    border-radius: 3px;
    clear: both;
    color: #e6e6e6;
    float: left;
    margin: 0 0 4px 8px;
    padding: 6px 12px 6px 8px;
    font-size: rem(16px);
  }

  button:hover {
    background: rgba(0, 0, 0, 0.276);
    color: #fefcfc;
  }
}