.board-details-container {
    background: linear-gradient( 180deg, #ffffff3d 0, #ffffff3d 48px, #fff0 80px, #fff0);
    max-width: 99vw;
    flex: 1;
    &> ::-webkit-scrollbar {
        height: 0.5rem;
        border-radius: 50rem;
    }
    &> ::-webkit-scrollbar-track {
        // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    &> ::-webkit-scrollbar-thumb {
        border-radius: 50rem;
        background-color: #dadbe2;
    }
}