.home-container {
    background: linear-gradient(0deg, #fff, #eae6ff 100%);
    font-family: rebrand;
    line-height: 2;
    font-size: rem(16px);
    .hero-container {
        display: flex;
        width: 90%;
        justify-content: flex-end;
        flex-direction: row-reverse;
        align-items: center;
        margin-bottom: rem(100px);
    }
    .hero-img {
        width: rem(300px);
    }
    .hero2-container {
        width: 70%;
    }
    .home-link {
        padding: rem(13px);
        font-weight: bold;
        border-radius: 6px;
        font-family: outfit, sans-serif;
        font-size: 1.75rem;
        line-height: 5;
        color: white;
        background-color: #0065ff;
    }
}

