.login-container {
    .MuiOutlinedInput-input {
        height: rem(20px);
    }
    .left,
    .right {
        max-width: 30%;
        width: rem(400px);
        position: absolute;
        bottom: 0;
    }
    .right {
        right: 0;
    }
    .left {
        left: 0;
    }
    .login-logo {
        margin-top: rem(50px);
        margin-bottom: rem(20px);
        width: rem(200px);
    }
    .google-login-container {
        padding-bottom: 10px;
    }
    .google-button-container {
        display: flex;
        align-items: center;
    }
    .google-login-button {
        justify-content: center;
        width: 343px;
    }
}

hr {
    color: 'grey';
    background-color: 'grey';
    width: '300px';
}