.sign-up-container {
    .left,.right {
        max-width: 30%;
        width: rem(400px);
        position: absolute;
        bottom: 0;
    }
    .right {
        right: 0;
    }
    .left {
        left: 0;
    }
    .sign-up-logo {
        margin-top: rem(50px);
        margin-bottom: rem(20px);
        width: rem(200px);
    }
}

.blue-link {
    color: #0052CC;
}
.blue-link:hover {
    text-decoration: underline;
}