
.check-list-modal {
    width: 93%;
    margin: auto;
    padding-inline-start: 33%;
    display: flex;
    font-size: rem(14px);
    justify-content: center;
    border-bottom: 1px solid #091e4221;
    box-sizing: border-box;
    color: #5e6c84;
    line-height: 40px;
    overflow: hidden;
    text-align: center;

    a {
        margin-left: auto;
    }

}

    .check-list-inner {
        padding: 0 12px 12px;
        display: flex;
        flex-direction: column;
        
        .check-list-title {
            margin-top: rem(14px);


        span {
            color: #5e6c84;
            display: block;
            font-size: 12px;
            font-weight: 700;
            line-height: 16px;
            // margin-bottom: 4px;
        }

        input, select {
            margin: 4px 0 12px;
            width: rem(276px);
            align-self: center;
            margin-inline-start: rem(12px);
            margin-inline-end: rem(12px);
            padding-left: rem(8px);
            border-radius: 3px;
            color: #182a4d;
        }

        input {
            height: rem(32px);
            border: 2px solid #dee1e5;
        }

        select {
            margin-bottom: 22px;
        }
    }   
    
    button {
        background-color: #0079bf;
        border-radius: 3px;
        color: #fff;
        padding: 0.5rem 0.75rem;
        width: 74px;
    }
}
    