.check-list-modal {
  .close-button:hover {
    background-color: transparent;
  }
  .check-list-inner {
    width: rem(304px);
    padding: 0.75rem;
    gap: 0.75rem;
    & > p {
      color: #5e6c84;
    }
    .check-list-title {
      border-top: 1px solid #091e4221;
      border-radius: 3px;
      padding: 0.25rem 0;
      padding-block-start: 0.5rem;
      color: #172b4d;
      width: 100%;
      gap: 0.5rem;
      & > div {
        gap: 0.25rem;
      }
      & > div:first-child {
        padding-block-start: 0.5rem;
      }
      p {
        width: 100%;
      }
      span {
        color: #5e6c84;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
      }
      input {
        border-radius: 3px;
        padding-inline-start: 0.5rem;
        height: rem(32px);
        border: 2px solid #dee1e5;
      }
      select {
        color: #172b4d;
        padding: 0.25rem;
      }
    }
    button {
      align-self: start;
      background-color: #0079bf;
      border-radius: 3px;
      color: #fff;
      padding: 0.5rem 0.75rem;
      width: rem(74px);
    }
  }
}
