.group-container {
    background-color: #ebecf0;
    height: fit-content;
    overflow-x: auto;
    gap: 0;
    align-items: flex-start;
    .task-list-container {
        padding: rem(8px);
        overflow-y: auto;
        .task,
        q {
            background-color: #fff;
            gap: 1rem;
            border: 1px solid black;
            padding: 1rem;
            width: rem(200px);
        }
        .task:hover {
            background-color: $clr2;
        }
        li {
            font-size: 12px;
            padding: 5px;
            border-radius: 5px;
        }
    }
    .new-card {
        padding: 0 rem(8px);
        textarea {
            resize: vertical;
            border-radius: 3px;
            border: 1px solid black;
        }
    }
    button {
        background-color: inherit;
        padding: rem(8px) rem(16px);
        color: #5e6c84;
        border: none;
        cursor: pointer;
    }
    button:hover {
        background-color: #091e4214;
        color: #172b4d;
    }
}