.home-header {
  background-color: rgba(240, 248, 255, 0);
  transition: 1s background-color;
  position: fixed;
  width: 100%;
  padding: rem(5px);
  padding-inline-end: rem(20px);
  padding-inline-start: rem(16px);
  &.white {
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  }
  .logo-img1 {
    padding: rem(8px);
    border-radius: 3px;
    width: rem(140px);
  }
}
