.labels-container>* {
    cursor: pointer;
}

.labels-container {
    gap: rem(5px);
}

.label-container {
    color: #fff;
    border-radius: rem(3px);
    font-weight: 600;
    height: 32px;
    line-height: 32px;
    min-width: 40px;
    padding: 0 12px;
    width: auto;
}

.labels-info-container,
.members-info-container {
    .span-container {
        margin-bottom: rem(4px);
    }
    span {
        color: #5e6c84;
        font-size: rem(12px);
        font-weight: 600;
        line-height: 1rem;
        line-height: rem(20px);
    }
}

.add-square-icon {
    cursor: pointer;
    border-radius: 3px;
    background-color: #091e420a;
    font-size: 1rem;
    height: 1rem;
    line-height: 1rem;
    padding: 1rem;
    width: 1rem;
}

.add-square-icon:hover {
    background-color: #091e4214;
}