.recent-boards {
    height: fit-content;
    gap: 8px;
}

.avatar-img { 
    width: 40px;
    height: 32px;
}

.recent {
    h5 {
        font-size: rem(12px);
        font-weight: 400;
        line-height: rem(16px);
        color: #172b4d;
        padding-inline-start: rem(8px);
    }
}