.preview-hover-state {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: rem(25px);
  height: rem(25px);
  top: rem(4px);
  right: rem(4px);
  background-color: #f4f5f774;
  border-radius: 3px;

  .edit-icon {
    // color: #172b4d;
    font-size: large;
  }
}

.preview-hover-state:hover {
  background-color: #f4f5f7;
}

.mini-menu-preview {
  position: absolute;
  width: 100%;
  z-index: 100;
}
