.attachment-modal-container {
    overflow: hidden;
    width: rem(304px);
    // padding: 0 0.75rem;
    padding-block-end: 3rem;
    h4 {
        font-weight: 400;
        color: #5e6c84;
        text-align: center;
        width: 90%;
        padding: 0.75rem;
        border-bottom: 1px solid #091e4221;
    }
    .close-button {
        margin-inline-end: 0.25rem;
        color: #6b778c;
        font-weight: 600;
    }
    .close-button:hover {
        background-color: transparent;
    }
    .attachment-inner {
        width: 100%;
        .upload-image {
            padding: 0.5rem 0;
            form {
                border-radius: 3px;
                padding: 0.5rem 0;
                width: 100%;
                #file-upload {
                    opacity: 0;
                    height: 0;
                    width: 0;
                }
                label {
                    display: inline-block;
                    cursor: pointer;
                    height: 100%;
                    width: 100%;
                    color: #172b4d;
                    font-weight: 400;
                    padding-inline-start: 1rem;
                }
            }
            form:hover {
                background-color: #091e4214;
            }
        }
        button {
            background-color: #091e420a;
            border-radius: 3px;
            color: #172b4d;
            padding: 0.5rem 0.75rem;
            width: rem(74px);
        }
        &>.attach-link {
            border-top: 1px solid #091e4221;
            margin: auto;
            width: 90%;
            padding: 0.5rem 0;
            p {
                padding-block-end: 0.5rem;
                color: #5e6c84;
                display: block;
                font-size: 12px;
                font-weight: 700;
                line-height: 16px;
            }
            input {
                color: #172b4d;
                border-radius: 3px;
                padding: 0.5rem;
                border: 2px solid #dfe1e6;
            }
            input::placeholder {
                color: #172b4d;
            }
            button {
                margin-top: 1rem;
            }
        }
        .link-name {
            margin-block-start: 0.75rem;
            &>input {
                width: 100%;
            }
        }
    }
}