.checklist-badge {
    gap: rem(5px);
    p {
        color: #5e6c84;
        font-size: 0.8rem;
        font-weight: 400;
    }
    &.done {
        padding: 2px;
        background-color: #61bd4f;
        border-radius: 3px;
        color: #fff;
        font-weight: 400;
        p {
        color: #fff;

        }
    }
}