.comment-container {
    .add-comment {
        resize: none;
        color: #172b4d;
        font-weight: 400;
        height: 36px;
        width: 100%;
        background-color: #fff;
        border-bottom-color: rgb(23, 43, 77);
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.267);
        span {
            font-size: rem(14px);
        }
    }
    .new-comment {
        position: relative;
        &>textarea {
            color: #172b4d;
            overflow: hidden;
            border-radius: 3px;
            height: rem(40px);
            padding: 0.5rem 0.75rem;
            border-color: #dfe1e6;
        }
        &>textarea::placeholder {
            color: #172b4d;
        }
        &>textarea:focus {
            height: rem(100px);
            width: 100%;
        }
        width: 100%;
        button {
            position: absolute;
            left: 0.5rem;
            bottom: 0.5rem;
        }
    }
}

.comments-area {
    p {
        font-size: rem(14px);
    }
    .comments-container {
        gap: 1rem;
        .comment {
            width: 100%;
            border-radius: 3px;
            margin-inline-start: 2rem;
            .comment-creator {
                position: absolute;
                left: 0.75rem;
            }
            .member-info {
                width: 100%;
                gap: 0.5rem;
                &>p:not(:last-child) {
                    font-size: rem(14px);
                    font-weight: 400;
                    width: 94.5%;
                    border: 1px solid #dfe1e6;
                    padding: 0.5rem;
                    background-color: white;
                    border-radius: 3px;
                }
                &>p:last-child {
                    color: #5e6c84;
                    text-decoration: underline;
                    font-size: rem(12px);
                    font-weight: 400;
                }
            }
            .activity-individual {
                width: 94.5%;
                gap: 1rem;
                .activity-header {
                    color: #172b4d;
                    gap: 0.5rem;
                    font-size: rem(14px);
                    span {
                        font-weight: 700;
                    }
                    p {
                        font-size: rem(12px);
                        font-weight: 400;
                    }
                }
                .activity-date {
                    font-size: rem(12px);
                    font-weight: 100;
                    color: #5e6c84;
                }
            }
        }
        .comment-data {
            gap: 1rem;
            .comment-time {
                font-weight: 400;
                font-size: 12px;
                color: #5e6c84;
            }
        }
    }
}