.due-date {
    height: rem(20px);
    width: 11.625rem;
    padding: 6px 12px 6px 12px;
    background-color: rgba(9, 30, 66, 0.04);
    border-radius: 3px;
    font-weight: 400;
    font-size: 14px;
    color: #172b4d;
    .complete {
    
    height: 17px;
    border-radius: 2px;
    color: #FFFFFF;
    background-color: #61BD4F;
    font-size: 12px;
    }
}