.members-badge {
    flex-grow: 1;
    flex-direction: row-reverse;
    padding-inline-end: 0.1rem;
    padding-block-start: 0.2rem;
    .members-badge-container {
        gap: rem(4px);
        flex-wrap: wrap;
    }
}