.flex {
    display: flex;
    gap: 1rem;
}

.flex.justify-center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.column {
    flex-direction: column;
}

.main-layout {
    max-width: 1020px;
    margin: auto;
}