.flex {
    display: flex;
}

.flex.justify-center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.space-evenly {
    justify-content: space-evenly;
}

.flex.column {
    flex-direction: column;
}

.flex.row-reverse {
    flex-direction: row-reverse;
}

.flex.column-reverse {
    flex-direction: column-reverse;
}

.flex.end {
    justify-content: end;
}

.flex.start {
    justify-content: start;
}

.main-layout {
    max-width: 1020px;
    margin: auto;
}

.brdr-rds {
    border-radius: 3px;
}

.line-through {
    text-decoration: line-through;
}

.pointer {
    cursor: pointer;
}

.close-button {
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 20px;
}

.close-button:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color:rgba(116, 92, 92, 0.338);
}